/* based on work from cor-el
source: https://support.mozilla.org/en-US/questions/1216436 */


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:-moz-any(#content,#appcontent) browser{
 margin-right:-14px!important;
 overflow-y:scroll;
 margin-bottom:-14px!important;
 overflow-x:scroll;
}

